{{ 'collections-item.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign subheading =  st.subheading
  assign description = st.description
  assign color_scheme = st.color_scheme
  assign media_aspect_ratio = st.image_ratio
  assign custom_ratio = st.custom_ratio
  assign heading_logo = st.heading_logo
  assign heading_logo_svg = st.heading_logo_svg
  assign column_gap = st.column_gap
  assign se_blocks = section.blocks
  assign se_size = se_blocks.size
  assign design_collection = st.design_collection
  assign column_gap_tablet = ''
  assign enabled_animations = settings.animations_enabled
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
-%}
{%- capture style -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x:
  {{ column_gap }}px;
{%- endcapture -%}
<section
  class="color-{{ color_scheme }} gradient bls__section {{ has_bg }}{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__collection-packery {% if design_collection != "design-6" %} default {% endif %} {{ reset_spacing }} {{ column_gap_tablet }}{{ column_gap_mobile }}"
  style="{{ style | strip | strip_newlines }};--bs-gutter-x: {{ column_gap }}px;"
>
  <div class="{{ container }} section-full">
    {%- if heading != blank or description != blank or heading_logo != blank or heading_logo_svg != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading_logo_svg != blank -%}
          <div class="bls__section-logo bls__section-logo-svg">
            {{ heading_logo_svg }}
          </div>
        {%- elsif heading_logo != blank -%}
          <div class="bls__section-logo">
            <img
              srcset="
                {%- if heading_logo.width >= 165 -%}{{ heading_logo | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if heading_logo.width >= 360 -%}{{ heading_logo | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if heading_logo.width >= 533 -%}{{ heading_logo | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if heading_logo.width >= 720 -%}{{ heading_logo | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if heading_logo.width >= 940 -%}{{ heading_logo | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if heading_logo.width >= 1066 -%}{{ heading_logo | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ heading_logo | image_url }} {{ heading_logo.width }}w
              "
              src="{{ heading_logo | image_url: width: 533 }}"
              alt="{{ heading_logo.alt | escape }}"
              class="motion-reduce"
              loading="lazy"
              width="{{ heading_logo.width }}"
              height="{{ heading_logo.height }}"
            >
          </div>
        {%- endif -%}
        {% if subheading != blank %}
          <p
            class="bls__section-subheading mb-5 {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
          >
            {{ subheading }}
          </p>
        {% endif %}
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {{ heading }}
          </h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="bls__collection-packery-content{% if settings.image_style != blank and section.settings.container != "full-width" and section.settings.column_gap != 0 %} radius {% endif %}">
      <div
        class="row d-grid {{ column_gap_tablet }}{{ column_gap_mobile }} grid-{{ se_size }}"
        style="--bs-gutter-x: {{ column_gap }}px;"
      >
        {%- for block in se_blocks -%}
          {%- liquid
            assign collection = collections[block.settings.collection]
            assign columns_item = 'bls__collection-column'
          -%}
          <div
            class="{{ columns_item }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
            {% if enabled_animations %}
              data-cascade
            {% endif %}
          >
            {% if design_collection == "design-6" %}
            {% render 'list-collection-item',
              collection_item: collection,
              media_aspect_ratio: media_aspect_ratio,
              custom_ratio: custom_ratio,
              limit_content_des: 25,
              type: 'custom',
              block: block,
              columns: 3,
              design_collection: design_collection,
              st: st
            %}
            {% else %}
            {% render 'list-collection-item',
              collection_item: collection,
              media_aspect_ratio: media_aspect_ratio,
              custom_ratio: custom_ratio,
              limit_content_des: 25,
              type: 'custom',
              block: block,
              columns: 3,
              st: st
            %}
          {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection-packery.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_header.title_header"
    },
    {
      "type": "image_picker",
      "id": "heading_logo",
      "label": "t:sections.all.section_header.heading_logo"
    },
    {
      "type": "text",
      "id": "heading_logo_svg",
      "label": "t:sections.all.section_header.heading_logo_svg",
      "info": "t:sections.all.section_header.info_logo_svg"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.section_header.subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.section_header.heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },

        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.header.content_setting"
    },
    {
      "type": "select",
      "id": "design_collection",
      "label": "t:sections.all.design_collection.text_design",
      "options": [
        {
          "value": "design-1",
          "label": "t:sections.products-list.settings.design_item.options.options_1"
        },
        {
          "value": "design-6",
           "label": "t:sections.products-list.settings.design_item.options.options_2"
        },
      ]
    },
    {
      "type": "select",
      "id": "hover_effect",
      "label": "t:sections.all.hover_effect.label",
      "default": "zoom",
      "options": [
        {
          "value": "zoom",
          "label": "t:sections.all.hover_effect.options__1.label"
        },
        {
          "value": "border-inset",
          "label": "t:sections.all.hover_effect.options__2.label"
        },
        {
          "value": "box-shadow",
          "label": "t:sections.all.hover_effect.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.hover_effect.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_count_product",
      "label": "t:sections.all.show_count_product.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "original",
          "label": "t:sections.all.aspect_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "custom",
          "label": "t:sections.all.aspect_ratio.options__2.label"
        }
      ],
      "default": "1/1",
      "label": "t:sections.all.aspect_ratio.label"
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "t:sections.all.custom_ratio.label",
      "default": "21:9"
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:sections.all.padding.column_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "collection_item",
      "name": "t:sections.collection-packery.blocks.collection_item.name",
      "settings": [
        {
          "type": "text",
          "id": "title_collection",
          "label": "t:sections.all.collection_item.title_collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collection_item.select_collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.collection_item.image_collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-packery.name",
      "blocks": [
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        }
      ]
    }
  ]
}
{% endschema %}
