{% comment %}
  Include this script in your search results template to handle redirects based on a CSV file.
{% endcomment %}

{% if search.results_count == 0 %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  var csvFileUrl = "https://cdn.shopify.com/s/files/1/0851/9080/3762/files/shopify-redirect-zero-results.csv?v=1737680348";

  function parseCSV(text) {
    const lines = text.split('\n');
    const result = [];
    const headers = lines[0].split(',');

    for (let i = 1; i < lines.length; i++) {
      const obj = {};
      const currentline = lines[i].split(',');

      for (let j = 0; j < headers.length; j++) {
        obj[headers[j].trim()] = currentline[j].trim();
      }

      result.push(obj);
    }
    return result;
  }

  function handleRedirects() {
    // Get the search query from the URL
    var urlParams = new URLSearchParams(window.location.search);
    var searchTerm = urlParams.get('q').trim().toLowerCase();
    
    if (!searchTerm) {
      return;
    }

    // Fetch and parse the CSV file
    fetch(csvFileUrl)
      .then(response => response.text())
      .then(text => {
        const redirects = parseCSV(text);

        // Find the matching redirect URL for the search term
        let redirectUrl = null;
        redirects.forEach(function(row) {
          if (row.Term.toLowerCase() === searchTerm) {
            redirectUrl = row.URL;
          }
        });

        // Redirect if a match is found
        if (redirectUrl) {
          window.location.href = redirectUrl;
        }
      });
  }

  handleRedirects();
});
</script>
{% endif %}

{% comment %}
  Include this script in your search results template to handle redirects based on a CSV file.
{% endcomment %}

{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'page-heading.css' | asset_url | stylesheet_tag }}
{{ 'collection.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign st = section.settings
  assign article_style = st.article_style
  assign results_per_page = st.results_per_page
  assign sidebar_ps =  st.sidebar_position
  assign enable_sidebar = st.enable_filtering
  assign item_desktop = st.results_per_row
-%}
{%- paginate search.results by results_per_page -%}
  <section class="page-heading not-bg">
    <div class="{{ section.settings.container }} section-full">
      <div class="page-head text-center">
        {% if search.performed %}
          <h1 class="heading-title search-result">
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
          </h1>
        {% else %}
          <h3 class="">{{ 'general.search.title' | t }}</h3>
        {% endif %}
        {%- if th_st.enable_search_input -%}
          <form
            action="{{ routes.search_url }}"
            method="GET"
            novalidate
            class="search-modal__form col-md-8 mx-auto mt-30"
          >
            <div class="field">
              <input
                type="text"
                placeholder="{{ 'general.search.search' | t }}"
                name="q"
                value="{{ search.terms | escape }}"
                required
                maxlength="128"
                role="combobox"
                aria-expanded="false"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
                class="search__input"
              >
              <input
                type="hidden"
                name="options[unavailable_products]"
                value="show"
              >
              <input
                type="hidden"
                name="options[prefix]"
                value="last"
              >
              <input
                type="hidden"
                name="type"
                value="{% if settings.search_for == 'search_for_all' %}all{% else %}product{% endif %}"
              >
              <input
                type="hidden"
                name="options[fields]"
                value="title,vendor,product_type,variants.title"
              >
              <button type="submit" class="search__button field__button">
                <svg
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M11.9 11.731C11.8 11.731 11.8 11.731 11.9 11.731C11.8 11.8304 11.8 11.8304 11.8 11.8304C11.3 12.3275 10.7 12.7251 9.9 13.0234C9.2 13.3216 8.4 13.4211 7.6 13.4211C6.8 13.4211 6 13.2222 5.3 12.924C4.6 12.6257 4 12.2281 3.4 11.6316C2.9 11.1345 2.4 10.4386 2.1 9.74269C1.8 9.1462 1.7 8.45029 1.7 7.65497C1.7 6.85965 1.9 6.06433 2.2 5.36842C2.5 4.5731 2.9 3.97661 3.4 3.38012C4 2.88304 4.6 2.48538 5.3 2.18713C6 1.88889 6.8 1.69006 7.6 1.69006C8.4 1.69006 9.2 1.88889 9.9 2.18713C10.6 2.48538 11.3 2.88304 11.8 3.47953C12.3 3.97661 12.7 4.67251 13.1 5.36842C13.4 6.06433 13.6 6.76023 13.6 7.65497C13.6 8.45029 13.4 9.24561 13.1 9.94152C12.8 10.538 12.4 11.1345 11.9 11.731ZM16.7 15.4094L13.6 12.3275C14.1 11.6316 14.5 10.9357 14.8 10.1404C15.1 9.34503 15.2 8.45029 15.2 7.55556C15.2 6.46199 15 5.46784 14.6 4.5731C14.2 3.67836 13.7 2.88304 13 2.18713C12.3 1.49123 11.5 0.994152 10.6 0.596491C9.7 0.19883 8.7 0 7.6 0C6.6 0 5.6 0.19883 4.6 0.596491C3.7 0.994152 2.9 1.49123 2.2 2.18713C1.5 2.88304 1 3.67836 0.6 4.67251C0.2 5.56725 0 6.5614 0 7.65497C0 8.64912 0.2 9.64327 0.6 10.6374C1 11.5322 1.6 12.3275 2.3 13.0234C3 13.7193 3.8 14.2164 4.7 14.7134C5.6 15.0117 6.6 15.2105 7.6 15.2105C8.5 15.2105 9.4 15.1111 10.2 14.8129C11 14.5146 11.8 14.117 12.4 13.6199L15.5 16.7018C15.7 16.9006 15.9 17 16.1 17C16.3 17 16.5 16.9006 16.7 16.7018C16.9 16.5029 17 16.3041 17 16.1053C17 15.807 16.9 15.6082 16.7 15.4094Z" fill="#111111" />
                </svg>
              </button>
            </div>
          </form>
        {%- endif -%}
      </div>
    </div>
  </section>
  <section
    class="facest-filters-section section-collection-product"
    data-section-type="page-search"
    data-section-id="{{ section.id }}"
    data-view="{{ template.name }}"
  >
    <div class="{{ section.settings.container }} bls__search-page-main ">
      <div id="productgridcontainer" class="row {% if sidebar_ps == 'right_sidebar' and enable_sidebar %}flex-row-reverse{% endif %}">
        {% if search.results_count >= 0 %}
          {% if enable_sidebar %}
            {%- liquid
              render 'search-toolbar' | st: st, enable_sidebar: enable_sidebar, sidebar_ps: sidebar_ps
            -%}
            {%- render 'search-filter-current' -%}
            {%- render 'search-sidebar' | sidebar_ps: sidebar_ps, enable_sidebar: enable_sidebar, st: st -%}
          {% endif %}
        {% endif %}
        <div class="main-result-search flex-1">
          {% if search.performed %}
            <div style="--bs-gutter-x: 30px" class="row row-cols-2 row-cols-lg-3 row-cols-xl-{{ item_desktop }} bls__grid {{ product_style }}">
              {% if search.results_count != 0 %}
                {%- for item in search.results limit: results_per_page -%}
                  {% case item.object_type %}
                    {%- when 'product' -%}
                      <div class="bls__product-load">
                        {%- render 'product-item' | product: item -%}
                      </div>
                    {%- when 'article' -%}
                        <div class="bls__product-load">
                          {%- render 'article-card',
                            article: item,
                            article_style: article_style,
                            show_category: false,
                            show_date: false,
                            show_excerpt: false,
                            show_readmore: false,
                            show_author: false,
                            post_content_center: false
                          -%}
                        </div>
                    {%- when 'page' -%}
                        <div class="bls__product-load">
                          <div class="card mb-40">
                            <div class="card__content">
                              <div class="card__information">
                                <h4 class="card__heading mb-5 fs-18">
                                  <a href="{{ item.url }}">
                                    {{ item.title | escape }}
                                  </a>
                                </h4>
                              </div>
                              <div class="card__badge">
                                <span>{{ 'templates.search.page' | t }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endcase %}
                {%- endfor -%}
                {% else %}
                <div
                  class="collection search_empty collection--empty page-width"
                  id="product-grid"
                  data-id="{{ section.id }}"
                >
                  <div
                    class="title-wrapper"
                  >
                    <p
                      class="title title--primary"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.97727 1.19847C8.54999 0.715744 9.47454 0.715744 10.0309 1.19847L11.3236 2.30302C11.5691 2.50756 12.0354 2.67938 12.3627 2.67938H13.7536C14.6209 2.67938 15.3327 3.3912 15.3327 4.25847V5.64938C15.3327 5.97665 15.5045 6.43483 15.7091 6.68029L16.8136 7.97302C17.2964 8.54574 17.2964 9.47029 16.8136 10.0267L15.7091 11.3194C15.5045 11.5648 15.3327 12.023 15.3327 12.3503V13.7412C15.3327 14.6085 14.6209 15.3203 13.7536 15.3203H12.3627C12.0354 15.3203 11.5773 15.4921 11.3318 15.6967L10.0391 16.8012C9.46636 17.2839 8.54181 17.2839 7.98545 16.8012L6.69272 15.6967C6.44727 15.4921 5.9809 15.3203 5.66181 15.3203H4.22999C3.36272 15.3203 2.6509 14.6085 2.6509 13.7412V12.3421C2.6509 12.023 2.48727 11.5567 2.28272 11.3194L1.17817 10.0185C0.703629 9.45393 0.703629 8.53756 1.17817 7.97302L2.28272 6.67211C2.48727 6.42665 2.6509 5.96847 2.6509 5.64938V4.26665C2.6509 3.39938 3.36272 2.68756 4.22999 2.68756H5.64545C5.97272 2.68756 6.4309 2.51574 6.67636 2.3112L7.97727 1.19847Z"
                          stroke="#907341"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M9 5.8457V9.79752"
                          stroke="#907341"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M8.99609 12.2852H9.00344"
                          stroke="#907341"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                      {{ 'sections.collection_template.empty' | t -}}
                      {{ 'general.search.filters' | t }}
                      <a href="{{ routes.search_url }}?q= {{ search.terms }}&options%5Bunavailable_products%5D=show&options%5Bprefix%5D=last&type=all&options%5Bfields%5D=title%2Cvendor%2Cproduct_type%2Cvariants.title" class= 'underlined-link link' >
                        {{ 'general.search.remove_all' | t }}
                      </a>
                    </p>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if paginate.pages > 1 %}
            <div class="mt-30">
              {% render 'pagination', paginate: paginate %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.content"
    },
    {
      "type": "range",
      "id": "results_per_page",
      "label": "t:sections.main-search.settings.results_per_page.label",
      "default": 4,
      "min": 1,
      "max": 50,
      "step": 1
    },
    {
      "type": "range",
      "id": "results_per_row",
      "label": "t:sections.main-search.settings.columns_desktop.label",
      "default": 4,
      "min": 1,
      "max": 4,
      "step": 1
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "article_style",
      "label": "t:sections.products-list.settings.design_item.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.products-list.settings.design_item.options.options_1"
        },
        {
          "value": "modern",
          "label": "t:sections.products-list.settings.design_item.options.options_2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.filter.name"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "t:sections.main-search.settings.filter.settings.enable_filter"
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "t:sections.main-search.settings.filter.settings.position.name",
      "default": "left_sidebar",
      "options": [
        {
          "value": "left_sidebar",
          "label": "t:sections.main-search.settings.filter.settings.position.options__1"
        },
        {
          "value": "right_sidebar",
          "label": "t:sections.main-search.settings.filter.settings.position.options__2"
        },
        {
          "value": "dropdonw_sidebar",
          "label": "t:sections.main-search.settings.filter.settings.position.options__3"
        },
        {
          "value": "filter_canvas",
          "label": "t:sections.main-search.settings.filter.settings.position.options__4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "t:sections.main-search.settings.filter.settings.show_count"
    },
    {
      "type":"header",
      "content": "t:sections.main-search.settings.toolbar.name"
    },
    {
      "type": "checkbox",
      "id": "number_products_per_page",
      "label": "t:sections.main-search.settings.toolbar.settings.enable_number_product"
    },
    {
      "type": "checkbox",
      "id": "sorting",
      "label": "t:sections.main-search.settings.toolbar.settings.enable_sort"
    }
  ]
}
{% endschema %}
